.LeftColumn {
    background-color: #eaf0ea;
    width: 5%;
    height: 190%;
    position: absolute;
    left: 0;
    top: 60px;
    box-shadow: 3px 3px 3px #919191;
    box-shadow: inset 3px 7px 7px #393838;
}

.RightColumn {
    background-color: #eaf0ea;
    width: 5%;
    height: 190%;
    position: absolute;
    right: 0;
    top: 60px;
    box-shadow: 3px 3px 3px #919191;
    box-shadow: inset 3px 7px 7px #393838;
}

.BoldText {
    font-weight: bold;
}

.NiceBox {
    border-width: 1;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    width: 60%;
    height: 65%;
    position: absolute;
    top: 27%;
    left: 20%;
}

.Form {
    position: relative;
    top: 4%;
}

.Often {
    position: absolute;
    top: 100%;
    width: 50%;
    left: 40%;
}

.QnA {
    align-self: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 115%;
    left: 15%;
}

.BottomText {
    position: absolute;
    top: 150%;
    font-style: italic;
    left: 45%;
}