.MidText {
    align-self: center;
}

.WelcomeImage {
    position: absolute;
    left:20%;
}

.WelcomeText {
    width: 40%;
    position: absolute;
    left:40%;
    top:27%;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.RecentItems {
    position: absolute;
    top:55%;
    left:38%;
}

.itemCard{
    margin: 10px;
}

.itemBadge{
    margin: 12px;
}

.itemContainer {
    padding: 10px;
}

.image {
    height:100px !important;
    object-fit: scale-down;
}

.RecentMenu {
    position: absolute;
    top:77%;
    left:27%;
}

.NiceBox {
    position: absolute;
    border-color: black;
    border-width: 1;
    border-style: solid;
    border-radius: 50px;
    width: 60%;
    height: 50%;
    top: 77%;
    left: 20%;
}

.LowText {
    position: absolute;
    top:150%;
    left:40%;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.LeftColumn {
    background-color: #eaf0ea;
    width: 5%;
    height: 190%;
    position: absolute;
    left: 0;
    top: 60px;
    box-shadow: 3px 3px 3px #919191;
    box-shadow: inset 3px 7px 7px #393838;
}

.RightColumn {
    background-color: #eaf0ea;
    width: 5%;
    height: 190%;
    position: absolute;
    right: 0;
    top: 60px;
    box-shadow: 3px 3px 3px #919191;
    box-shadow: inset 3px 7px 7px #393838;
}

.BoldText {
    font-weight: bold;
}