.FooterLink {
    position: relative;
    top:10%;
    margin: 10%;
}
  
.FooterLink2 {
    position:relative;
    left:10%;
    top:50px;
    width:20%;
    margin: 0.3%;
}
  
.FooterLinks {
    display: flex;
    flex-direction: column;
}
  
.Powered {
    width:20%;
    height:50%;
    position: relative;
    top:-33%;
    right:-80%;
}
  
.WhiteText {
    color: white;
}